@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Thin.woff') format('woff'),

}

@font-face {
    font-family: 'NK90';
    src: url('/fonts/nk90.otf') format('otf'),

}

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1940px;
    padding: 0 10px;
    margin: 0 auto;
    height: auto;
}

.fon {
    background-color: #94C31F;
}

.fon img {
    display: block;
    width: 100%;
}

.text p {
    margin: 10px;
    word-break: break-all;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 966px;
    text-align: center;
    color: #ffffff;
    font-family: 'NK90';
    font-size: 24px;
    line-height: 1.5;
    overflow: hidden;
}

@media (max-width: 1920px) {
    .text {
        font-size: 24px;
    }
}

@media (max-width: 1440px) {
    .text {
        font-size: 20px;
    }
}

@media (max-width: 1366px) {
    .text {
        font-size: 18px;
    }
}

@media (max-width: 1280px) {
    .text {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .text {
        width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .text {
        width: 95%;
        font-size: 14px;
    }
}

@media (max-width: 565px) {
    .text {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .text {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .text {
        font-size: 12px;
    }
}
