@import url("https://use.typekit.net/enf8iwv.css");
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Thin.woff') format('woff'),
}

@font-face {
    font-family: 'NK90';
    src: url('/fonts/nk90.otf') format('otf'),
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1940px;
    margin: 0 auto;
}

.container-bl {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
}

.title {
    font-family: 'NK90';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #9BC72D;
}

.cont-bl-1 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 105px;
}

.block-1,
.block-2 {
    position: relative;
}

.dr {
    position: absolute;
    top: 9px;
    left: 29px;
    width: 366px;
    height: 366px;
}

.block-1-2,
.block-2-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: 351px;
    height: 192px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 44px;
    margin: 30px 0px 0px 0px;
}

.vector {
    align-self: flex-end;
    position: relative;
    top: 4px;
    left: -18px;
    width: 80px;
}

.block-1-2 h3,
.block-2-2 h3 {
    font-family: 'NK90';
    font-size: 24px;
    color: #94C31F;
    margin: 0px;
}

.block-1-2 p,
.block-2-2 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #7E8085;
}


/*block-2*/
.cont-bl-2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 105px;
}

.dr-2 {
    position: absolute;
    top: 12px;
    left: -26px;
    width: 366px;
    height: 366px;
}

.vector-2 {
    align-self: flex-start;
    position: relative;
    top: -29px;
    left: -18px;
    width: 80px;
}
