* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    padding: 12px 20px;
    border: 1;
    cursor: pointer;
}

.container {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.contant {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.wraper:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .container,
    .contant {
        width: 100%;
        margin-top: 0;
    }
    input[type=submit] {
        width: 30%;
    }
}
